body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex; /* Change display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 10px 0;
}

#logo1 {
    width: 5%; /* Adjust the width as needed */
    height: auto;
    padding-right: 2%; /* Add padding as needed */
}

#logo2 {
    width: 20%; /* Adjust the width as needed */
    height: auto;
    padding-left: 2%; /* Add padding as needed */
}

.red-line {
    width: 30%;
    height: 2px;
    background-color: red;
    margin: 0 auto; /* Center horizontally */
}

.black-line {
    width: 30%;
    height: 2px;
    background-color: black;
    margin: 0 auto; /* Center horizontally */
}

h1 {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-bottom: 0;
}

.notifications {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-box {
    width: 30%; /* Adjust the width as needed */
    height: 100px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
