body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}

#logo-link {
    margin-right: 10px; /* Adjust the margin between logo1 and logo2 */
}

#logo1 {
    width: auto; /* Adjust the width of the logos */
    height: 20px; /* Adjust the height of the logos */
}

#logo2 {
    width: auto; /* Adjust the width of the logos */
    height: 50px; /* Adjust the height of the logos */
    padding-left: 45px;
}

.red-line, .black-line {
    width: 30%;
    height: 2px;
    margin: 0 auto;
}

.red-line {
    background-color: red;
}

.black-line {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.notifications {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.notification-box, .notification-box-static {
    width: 30%;
    height: 100px;
    margin: 10px 1%;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notification-box img {
    max-width: 100%;
    max-height: 100%;
}

.notification-box-static {
    height: 50px;
    color: white;
    background-color: black;
}

.rental-count {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    width: 95%;
    text-align: center;
    color: white;
    background-color: black;
}
