.screen-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Make container occupy full viewport height */
}

#logo-top {
    height: 50px; /* Set a fixed height */
    width: auto; /* Let the width adapt to the height */
}

.red-line {
    width: 30%;
    height: 2px;
    background-color: red;
    margin: 20px auto;
}

#user-picture {
    height: 100px; /* Set a fixed height */
    width: auto; /* Let the width adapt to the height */
    margin-bottom: 20px;
}

.hyperlinks {
    margin-bottom: 10px;
    text-align: left; /* Align the text of hyperlinks to the left */
}

.hyperlinks a {
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically align items */
    margin-bottom: 15px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.hyperlinks a img {
    height: 16px; /* Set height to match font size */
    margin-right: 5px; /* Add spacing between image and text */
}

#medialab-button {
    padding: 10px 33px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
}

#medialab-button:hover {
    background-color: #333; /* Darken background color on hover */
}
