.container {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: red;
}

h1 {
    margin: auto 40px;
    color: white;
}

#logo-link {
    margin-right: 10px;
}

#logo1, #logo2 {
    height: 30px;
}

.boxes {
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.item-equipment {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-equipment-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.description {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

#add-items {
    width: 34%;
    display: block;
    margin: 20px auto;
    padding: 10px 10%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boxes {
    display: flex;
    justify-content: center;
}