.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust if needed */
}

#logo-header {
    height: 80px; /* Set a fixed height */
    width: auto; /* Let the width adapt to the height */
}

#logo-school {
    height: auto; /* Set a fixed height */
    width: 200px; /* Let the width adapt to the height */
}

.input-container {
    display: flex;
    align-items: center; /* Align items vertically */
}

.input-container img {
    height: 35px; /* Set a fixed height */
    width: auto; /* Let the width adapt to the height */
    margin-right: 10px; /* Adjust margin to separate image and input */
}

input[type="text"],
input[type="password"],
button {
    margin: 20px auto; /* Increase margin for spacing */
    padding: 10px;
    width: 200px;
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Add border for better visibility */
}

button {
    width: 260px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none; /* Remove default button border */
}

button:hover {
    background-color: #333; /* Darken background color on hover */
}
