/*
   The process to find the right height, margin, and padding throughout this whole project
   has been basically a trial and error process, so if you happen to see some random numbers
   on such measurements, don't change them.
*/

.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo-header {
    height: 80px;
    width: auto;
}

#logo-school {
    height: auto;
    width: 200px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container img {
    height: 35px;
    width: auto;
    margin-right: 10px;
}

input[type="text"],
input[type="password"],
button {
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 260px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
}

button:hover {
    background-color: #333;
}
