<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../CSS/register.css">
</head>
<body>
<div class="screen-container">
    <img id="logo-top" src="../PNG-JPG/EhB%20logo%20long.jpeg" alt="Logo">
    <div class="red-line"></div>
    <!-- Data to be field by the user demanding to be registered -->
    <form class="account-info">
        <ul>
            <li><span>Username:</span> <input type="text" placeholder="Enter username"></li>
            <li><span>Password:</span> <input type="password" placeholder="Enter password"></li>
            <li><span>Email:</span> <input type="email" placeholder="Enter email"></li>
            <li><span>Phone Number:</span> <input type="tel" placeholder="Enter phone number"></li>
            <li><span>Address:</span> <input type="text" placeholder="Enter address"></li>
        </ul>
    </form>
    <button type="submit">Register</button>
</div>
</body>
</html>